/* ######################
   #  Globals
   ######################
*/

html, body {
	background-color: #000000;
	color: white;
}

table {
	background-color: #000000;
}

input {
	border: 1px solid #000000;
	background: #373737;
	color: #ffffff;
	padding: 6px;
}

select {
	border: 1px solid #000000;
	background: #373737;
	color: #ffffff;
	padding: 6px;
}

select#channel {
	max-width: calc(100% - 420px);
}
select#time_para {
	max-width: 200px;
}

a {
	color: #FCBC40;
}

* {
	scrollbar-color: #373737 #212121;
	scrollbar-width: thin;
}
*::-webkit-scrollbar {
	width: 8px;
}
*::-webkit-scrollbar-thumb {
	background: #373737;
}
*::-webkit-scrollbar-corner, body::-webkit-resizer {
	background: #212121;
}

div.inhalt {
	padding: 24px 0 0 48px;
}

/* ######################
   # Tooltip style for hints
   ######################
*/

.hint-tip {
	color: ffffff;
}

/* ##############################
   # Tooltip style for epg infos
   ##############################
*/

.info-win {
	color: ffffff;
}

/* #######################
   #  Menue
   #######################
*/

div.menu {
	background: #1d1d1d;
	border-top: 1px solid #1d1d1d;
	border-bottom: 1px solid #373737;
	color: #9e9e9e;
	padding: 5px 0 5px 10px;
}

div.menu a {
	color: #9e9e9e;
}

a#login {
	color: red;
}

div.menu a.active {
	color: #eeeeee;
}

div#pagemenu {
	background: #212121;
	margin-top: 0px;
}

div#pagemenu div {
	background: #212121;
	border-bottom: 1px solid #373737;
}

div#pagemenu div div {
	background: #212121;
	border: none;
}

div#pagemenu div div img {
	margin-bottom: -5px;
}
	
div#pagemenu a {
	color: #FCBC40;
}

div#pagemenu a.active {
	color: #FFFDDD;
}

div#pagemenu span {
	color: #FCBC40;
}

div#pagemenu span.sep {
	color: #FCBC40;
}

/* #######################
   #  Info Box (near logo)
   #######################
*/

div#infobox {
	border: 1px solid #373737;
}

div#infobox div.st_header {
	background: #212121;
	border-bottom: none;
}

div#infobox div.st_content {
	background: #373737;
}

div#infobox div.st_controls div.st_update {
	border-right: 1px solid  #FCBC40;
}

/* ################################
   # general table cell classes
   ################################
*/

table td.bottomrow {
	border-bottom: none !important;
}

table td.leftcol {
	border-left: none;
}

table td.rightcol {
	border-right: none;
}


/* ################
   #  Mulitschedule
   ################
*/

table.mschedule tr td.event {
	background: none;
	border-bottom: 1px solid #373737;
}

table.mschedule tr td.even {
	background-color: #373737;
}

table.mschedule tr td.odd {
	background-color: #292929;
}

table.mschedule tr td.current_row {
	background-color: #FCB840;
}

table.mschedule a {
	color: inherit;
}

/* ################
   #  Event
   ################
*/

/*
div.station div {
	background: url(../img/bg_box_l.png) top left no-repeat;
}

div.station div div {
	background: url(../img/bg_box_r.png) top right no-repeat;
}

div.station div div div {
	background: url(../img/bg_box_h.png) repeat-x;
}
*/

div.station div div div a {
	color: #000000;
}

td div.station a {
	color: #FCBC40;
}

div.content {
/*	background: #263480 url(../img/bg_tools.png) top left repeat-y;*/
	border-left: none;
	border-right: none;
	border-bottom: none;
}

div.__progress {
	border: 1px solid #C0C0FF;
}

div.__progress div.__elapsed {
	background-color: #FCB840;
}


/* #############
   # Timers
   #############
*/

table.listing tr td {
	background: transparent !important;
	border-bottom: 1px solid #373737 !important;
}

table.listing tr.description td {
	background: #122DBA;
}

table.listing tr td.current {
	color: #FCBC40;
}

table.listing tr.spacer td {
	background-color: #081966;
}

table.listing a {
	color: #FCBC40;
}


/*
  ##############################
  #  Blue Background Thingy
  ##############################
*/

div.boxheader	 {
	background: #373737;
}

div.boxheader div {
	background: #373737;
}

div.boxheader div div {
	background: #373737;
	color: white;
}

/*
  ##############################
  #  Recordings
  ##############################
*/

div.recordings {
	border: none;
	background-color: #263480;
}

tr.recording_item {
	background: none;
	border-bottom: 1px solid #373737;
}
tr.recording_item:last-child {
	border-bottom: 1px solid #373737;
}


/*
  ##############################
  #  Remote Control Keypad
  ##############################
*/

div.screenshot {
	background-image: none;
	width: calc(100vw - 260px);
	height: calc((100vw - 260px) / 16 * 9);
	max-width: calc((100vh - 130px) * 16 / 9);
	max-height: calc(100vh - 130px);
padding: 0;
}
div.screenshot img {
	width: 100%;
	height: calc(100% - 5px);
}


/*
  ##############################
  #  Dotted Frame
  ##############################
*/

div.dotted {
	border: 1px solid #000000;
	background: #373737;
	padding: 5px;
	margin: 5px 5px 2px 0;
	float: left;
}


/*
  ##############################
  #  Edit Tables
  ##############################
*/

table.formular tr td {
	background: transparent;
	border-bottom: 1px solid #373737;
}

table.dependent {
	background-color: #212121;
}

/*
  ##############################
  #  Infowin support styles for EPG-Boxes
  ##############################
*/

.info-win div.epg_content {
	background: #373737;
}


/* ##############################
   # About box
   ##############################
*/

.info-win div.epg_content div.about_head div div {
	background: #212121;
	border-top: none;
	border-bottom: none;
	padding: 5px 0 5px 15px;
}

.info-win .info-win-body .info-win-c {
	background: none;
	margin-right: -31px;
}
