#vt100 #cursor.bright {
  background-color: white!important;
  color:            black!important;
}

#vt100 #cursor.dim {
  background-color: black!important;
}

#vt100 #scrollable {
  color:            #ffffff!important;
  background-color: #000000!important;
}

#vt100 #scrollable.inverted {
  color:            #000000!important;
  background-color: #ffffff!important;
}

#vt100 .ansiDef {
  color:            #ffffff!important;
}

#vt100 .ansiDefR {
  color:            #000000!important;
}

#vt100 .bgAnsiDef {
  background-color: #000000!important;
}

#vt100 .bgAnsiDefR {
  background-color: #ffffff!important;
}

#vt100 #scrollable.inverted .ansiDef {
  color:            #000000!important;
}

#vt100 #scrollable.inverted .ansiDefR {
  color:            #ffffff!important;
}

#vt100 #scrollable.inverted .bgAnsiDef {
  background-color: #ffffff!important;
}

#vt100 #scrollable.inverted .bgAnsiDefR {
  background-color: #000000!important;
}

#vt100 #scrollable {
  scrollbar-width: thin;
  scrollbar-color: #333;
}
::-webkit-scrollbar {
  width: 10px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
}
